# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Output files
output/*.csv
output/*.tsv

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Test related
.coverage
htmlcov/
.pytest_cache/

# Virtual environments
.venv

uv.lock
*.tsv
*.csv
memo.md
